@font-face {
  font-family: "iconfont"; /* Project id 3932695 */
  src: url('iconfont.woff2?t=1678028992863') format('woff2'),
       url('iconfont.woff?t=1678028992863') format('woff'),
       url('iconfont.ttf?t=1678028992863') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e664";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-camera:before {
  content: "\e667";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-right:before {
  content: "\e66c";
}

.icon-direction-up:before {
  content: "\e66d";
}

.icon-direction-left:before {
  content: "\e66e";
}

.icon-refresh:before {
  content: "\e67b";
}

.icon-arrow-down-bold:before {
  content: "\e686";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-select-bold:before {
  content: "\e688";
}

.icon-arrow-up-filling:before {
  content: "\e689";
}

.icon-arrow-down-filling:before {
  content: "\e68a";
}

